<div class='missionContainer'>

  <div class='missionStatCont'>
      <h1>OUR MISSION</h1>
      <p class='missionStatement'>
        The mission of the Coconut Grove Negro Women’s Club (CGNWC)
        is to address West Coconut Grove's community needs by promoting
        and sponsoring young girls, with a legacy in West Grove, in
        achieving a better quality of life through higher education.
        Our youth-serving women’s civic organization annually raises
        funds through cultural events and activities to support selected
        young ladies' goals of attending Historically Black Colleges
        and Universities (HBCUs) that has now expanded to include
        matriculation at any higher-level institution.  We provide
        services to:
        1) develop young people’s (and more specifically girls) social
        interaction, emphasize participation in projects that positively
        give back to the community (civic), and create financial skills
        awareness through etiquette training; and, college survival and
        life-skills training. These skills, over time, have a positive
        impact on collective efforts, with our partners, to increase college
        and trade school retention while simultaneously decreasing
        high school dropout rates.  Overall the CNGWC’s support services
        positively impact housing, education, employment, and job creation
        opportunities encouraging inventors and entrepreneurship.
        CGNWC members foster community service activities that encourage
        participation in accessing funds used to attain higher education through scholarship.
      </p>
  </div>
</div>
